body,
html {
  padding: 0;
  margin: 0;
}

.demo {
  max-width: 1240px;
  margin: 30px auto 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 10%);
  box-sizing: border-box;
}

.header .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.backBtn {
  display: block;
  width: 15px;
  height: 15px;
  font-size: 0;
  line-height: 1;
  color: transparent;
  padding: 0;
  margin: 0 10px;
}

.backBtn span {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.backBtn span::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
}

.packageInfo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  color: #000000;
  text-align: left;
  font-style: normal;
  text-decoration: none;
}

.packageInfo span {
  display: block;
  width: 100%;
}

.packageInfo span.sm {
  font-size: 12px;
}

.demoNotice {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  border-radius: 5px;
  padding: 13px 20px;
  margin: 0;
  background: #ffab5e;
  border: 2px solid #ffab5e;
}

/* general */

.calendar {
  margin: 0 auto 20px;
}

.calendar .wrap {
  padding: 0 10px;
}

.currentYear {
  font-family: arial;
  font-size: 32px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: center;
  color: #000000;
  padding: 0;
  margin: 0 auto 50px;
}

/* controls  */

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0px 0 50px;
}

.controls .btn {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: #000000;
  padding: 13px 20px;
  margin: 0;
  cursor: pointer;
}

/* year  */

.year {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;
}

/* months */

.month {
  width: 25%;
  padding: 0 10px;
  margin: 0 0 20px;
  box-sizing: border-box;
}

.monthName {
  font-family: arial;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: center;
  color: #000000;
  padding: 0;
  margin: 0 auto 20px;
}

.month .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* days */

.day {
  width: 14.166666666666667%;
  text-align: center;
  padding: 6px;
  box-sizing: border-box;
}

.dayOfTheWeek .day {
  font-weight: 800;
}

.booked {
  background-color: #000000;
  color: #ffffff;
}

.isLateCheckout {
  position: relative;
  background-color: transparent;
  overflow: hidden;
  color: #ffffff;
}

.isLateCheckout > span {
  background: white;
  color: #000000;
  padding: 0px 3px;
}

.isLateCheckout > span::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(248, 80, 50, 1);
  background:linear-gradient(to bottom right,#000000 50%,transparent 50%);
  z-index: -1;
}

/* key */

.key {
  display: flex;
  flex-direction: row;
  margin: 0 absolute
}

.key .type {
  margin: 0 10px 0 0;
}

.key .type span {
  position: relative;
  display: flex;
  line-height: 30px;
}

.key .type span::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}

.bookedType span::before {
  background: #000000;
}

.lateCheckoutType span::before {
  background: rgba(248, 80, 50, 1);
  background:linear-gradient(to bottom right,#000000 50%,transparent 50%);
}

/* responsive */

@media (max-width: 980px) {

  .header {
    flex-direction: column;
    padding: 10px;
  }

  .header .info {
    width: 100%;
  }

  .header .info span strong {
    display: block;
    width: 100%;
  }

  .demoNotice {
    margin: 10px 0 0 0;
    padding: 10px;
  }

  .month {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .month {
    width: 100%;
  }
}